/* Viewport styling */
html, body {
	background-color: #E9E9E9;
	height: 100%;
	padding: 0;
	margin: 0;
}
.rp-viewport {
	padding: 40px 20px 20px 20px;
	color: #666;
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: 3px solid #ddd;
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 10px;
	left: 10px;
}
.rp-viewport h1 {
	margin: 0;
	position: absolute;
	top: 0px;
	background-color: #565656;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}
.rp-view {
	border: solid 1px #ddd;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
	overflow-x: auto;
}
.rp-container {
	/*background: #DDDDDD;*/
	overflow: auto;
	padding: 0;
	margin: 1em;
}
.rp-container:after {
	display: table;
	content: " ";
}
.rp-container > .rp-container-section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 100% !important;
	float: left;
	padding: 0.5em 1em;
	overflow: hidden;
}
.rp-container.one > .rp-container-section {
	width: 100% !important;
}
.rp-container.two > .rp-container-section {
	width: 50% !important;
}
.rp-container.three > .rp-container-section {
	width: 33.3333% !important;
}
.rp-container.four > .rp-container-section {
	width: 25% !important;
}
.rp-container.five > .rp-container-section {
	width: 20% !important;
}
.rp-container.six > .rp-container-section {
	width: 16.6667% !important;
}
.rp-container.seven > .rp-container-section {
	width: 14.2857% !important;
}
.rp-container.eight > .rp-container-section {
	width: 12.5% !important;
}
.rp-container.nine > .rp-container-section {
	width: 11.1111% !important;
}
.rp-container.ten > .rp-container-section {
	width: 10% !important;
}

.rp-hidden {
	display: none !important;
	visibility: hidden !important;
}

label {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin-bottom: 0.3em;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

hr {
	border: none;
	color: #DDDDDD;
	background-color: #DDDDDD;
	height: 1px;
}

.rp-text, .rp-textarea {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0;
	-webkit-appearance: none;
	tap-highlight-color: rgba(255,255,255,0);
	padding: .67861em 1em;
	background: #fff;
	font-size: 1em;
	outline: 0;
	color: #666;
	width: 100%;
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 1.22em;
	border: 1px solid rgba(39,41,43,.15);
	color: rgba(0,0,0,.8);
	box-shadow: 0 0 0 0 transparent inset;
	-webkit-transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
	transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
}

.rp-textarea {
	height: 12em;
	min-height: 8em;
	max-height: 24em;
	resize: vertical;
}

.rp-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background-color: #e0e0e0;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: none;
  box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(39,41,43,.15)inset;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.rp-button:hover {
	opacity: 0.8;
}
.rp-button:active {
	background-color: #C9C9C9
}
